@{
    ViewData["Title"] = "Brains";
}


<div>
    <ul id="peopleList"></ul>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Year of birth</th>
            <th>Children</th>
            <th>Profession</th>
        </tr>
        </thead>
        <tbody id="people">
        </tbody>
    </table>
</div>
<div id="childrenTable"></div>
<div id="childrenLists"></div>
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
</div>
